.navbar-brand img {
    width: 200px;
}
.carousel-item {
height: 400px;
}
.carousel-caption {
    padding: 130px;
}
.card img {
    width: 130px;
} 
.card-title {
color: #7c6062;
}
#books .card{
    border: 0;
}
#books img{
    width: 100%;
}
#books .card-body {
    padding: 0;
    padding-top: 20px;
}
#books {
    padding-right: 0;
}
ul a {
    text-decoration: none;
    color: white;
}
footer {
    background-color: gray;
}
